body {
    background-color: antiquewhite;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
    background-color:bisque;
}
li {
    display: inline;
    font-size: large;
}

table {
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    background-color: blanchedalmond;
}

tr td {
    border: 1px solid black;
}