body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

#topo {
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    background-color: burlywood;
}
#topo img {
    margin-left: 10%;
    width: 70%;
}

#features {
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
    background-color: rgb(209, 27, 27);
}
#features tr td {
    border: 1px solid black;
    font-size: large;
}